# requirements.txt
streamlit
pandas
numpy
matplotlib
opencv-python-headless
pytesseract
easyocr
pdf2image
Pillow
sqlalchemy
python-magic
openpyxl
xlrd
python-dateutil
supabase
python-dotenv
pandas